.row
  .col-md-3.col-sm-6(ng-repeat='mycourse in dashboardCtrl.myCoursesList')
    article(class='mycourse')
      header(class='mycourse-header')
        div(ng-include="'/includes/icons/' + mycourse.course.icon + '.html'")

      section.mycourse-content
        label.mycourse-content__subject
          | {{ mycourse.course.subject }}

        h2.mycourse-content__title
          | {{ mycourse.course.name }}
