.register {
  background-color: $white;
  min-height: 100vh;
}

.register-section {
  padding: 50px 50px 25px;
}

.register-section__page {
  text-transform: uppercase;
  color: #AAAAAA;
  font-weight: 300;
  font-size: 14px;
}

.register-section__title {
  font-size: 50px;
  color: $color-primary;
  font-weight: 300;
}

.register-section__subtitle {
  color: #AAAAAA;
  font-weight: 300;
  font-size: 16px;
  padding-right: 100px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.register-form {
  max-width: 400px;
  margin-top: 50px;
}

.register-section__text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;

  a {
    color: $color-secondary;
    font-weight: 600;
  }
}

.register-image {
  min-height: 100vh;
  background: url('./../images/background-register.png') center center no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    background-color: rgba($color-primary, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}