leftnav(class='leftnav' ng-class='leftnavCtrl.leftnavToggle')

.content(ng-class='leftnavCtrl.fullContent')
  navigation.navigation

  main(class='main' role='main')
    .row
      div(ng-repeat='course in coursesCtrl.coursesList' ng-class='course.course.featured ? "col-md-6" : "col-md-4"')
        article(class='course' ng-class='course.course.featured ? "is-featured" : ""')
          aside.course-image

          section.course-content
            h2.course-content__title
              | {{ course.course.name }}

            label.course-content__subtitle
              | {{ course.course.author }} | {{ course.course.duration }} HOURS

            p.course-content__description
              | {{ course.course.description | strLimit: 160 }}

            .course-content-info
              .course-content-info__progress
                span.course-content-info__tracker(style='width: {{ course.fund.pledged * 100 / course.fund.total | number: 0 }}%')
                span.course-content-info__track
                  | {{ course.fund.pledged * 100 / course.fund.total | number: 0 }}%
                  
              .course-content-box
                h3 {{ course.fund.pledged * 100 / course.fund.total | number: 0 }}%
                h4 Funded

              .course-content-box
                h3 {{ course.fund.pledged | currency }}
                h4 Pledged

              .course-content-box
                h3 30
                h4 Days to go