leftnav(class='leftnav' ng-class='leftnavCtrl.leftnavToggle')

.content(ng-class='leftnavCtrl.fullContent')
  navigation.navigation

  main(class='main' role='main')
    .row
      .col-md-6(ng-repeat='courseFeatured in coursesCtrl.featuredCoursesList')
        article.course.is-featured
          aside.course-image

          section.course-content
            h2.course-content__title
              | {{ courseFeatured.title }}

            label.course-content__subtitle
              | {{ courseFeatured.author }} | {{ courseFeatured.time }} HOURS

            p.course-content__description
              | {{ courseFeatured.description }}

            .course-content-info
              .course-content-info__progress
                span.course-content-info__track
                  | {{ courseFeatured.funded }}%
                  
              .course-content-box
                h3 {{ courseFeatured.funded }}%
                h4 Funded

              .course-content-box
                h3 {{ courseFeatured.pledged | currency }}
                h4 Pledged

              .course-content-box
                h3 {{ courseFeatured.days }}
                h4 Days to go

      .col-md-4(ng-repeat='course in coursesCtrl.coursesList')
        article.course
          header.course-image

          section.course-content
            h2.course-content__title
              | {{ course.title }}

            label.course-content__subtitle
              | {{ course.author }} | {{ course.time }} HOURS

            p.course-content__description
              | {{ course.description }}

            .course-content-info
              .course-content-info__progress
                span.course-content-info__track
                  | {{ course.funded }}%

              .course-content-box
                h3 {{ course.funded }}%
                h4 Funded

              .course-content-box
                h3 {{ course.pledged | currency }}
                h4 Pledged

              .course-content-box
                h3 {{ course.days }}
                h4 Days to go
