leftnav(class='leftnav' ng-class='leftnavCtrl.leftnavToggle')

.content(ng-class='leftnavCtrl.fullContent')
  navigation.navigation

  main(class='main' role='main')
    .row
      .col-md-6
        article.course.is-featured
          aside.course-image

          section.course-content
            h2.course-content__title
              | Architectural Design

            label.course-content__subtitle
              | Louis Gray | 80 HOURS

            p.course-content__description
              | Provides a foundation to the design of the built environment, from the scale of the object, to the building, to the larger territory. Focuses on the shared foundations of the allied design disciplines of architecture ...

            .course-content-info
              .course-content-info__progress

              .course-content-box
                h3 19%
                h4 Funded

              .course-content-box
                h3 $2.974
                h4 Pledged

              .course-content-box
                h3 24
                h4 Days to go

      .col-md-6
        article.course.is-featured
          aside.course-image

          section.course-content
            h2.course-content__title
              | Architectural Design

            label.course-content__subtitle
              | Louis Gray | 80 HOURS

            p.course-content__description
              | Provides a foundation to the design of the built environment, from the scale of the object, to the building, to the larger territory. Focuses on the shared foundations of the allied design disciplines of architecture ...

            .course-content-info
              .course-content-info__progress

              .course-content-box
                h3 19%
                h4 Funded

              .course-content-box
                h3 $2.974
                h4 Pledged

              .course-content-box
                h3 24
                h4 Days to go

      .col-md-4
        article.course
          header.course-image

          section.course-content
            h2.course-content__title
              | Architectural Design

            label.course-content__subtitle
              | Louis Gray | 80 HOURS

            p.course-content__description
              | Provides a foundation to the design of the built environment, from the scale of the object, to the building, to the larger territory. Focuses on the shared foundations of the allied design disciplines of architecture ...

            .course-content-info
              .course-content-info__progress

              .course-content-box
                h3 19%
                h4 Funded

              .course-content-box
                h3 $2.974
                h4 Pledged

              .course-content-box
                h3 24
                h4 Days to go

      .col-md-4
        article.course
          header.course-image

          section.course-content
            h2.course-content__title
              | Architectural Design

            label.course-content__subtitle
              | Louis Gray | 80 HOURS

            p.course-content__description
              | Provides a foundation to the design of the built environment, from the scale of the object, to the building, to the larger territory. Focuses on the shared foundations of the allied design disciplines of architecture ...

            .course-content-info
              .course-content-info__progress

              .course-content-box
                h3 19%
                h4 Funded

              .course-content-box
                h3 $2.974
                h4 Pledged

              .course-content-box
                h3 24
                h4 Days to go

      .col-md-4
        article.course
          header.course-image

          section.course-content
            h2.course-content__title
              | Architectural Design

            label.course-content__subtitle
              | Louis Gray | 80 HOURS

            p.course-content__description
              | Provides a foundation to the design of the built environment, from the scale of the object, to the building, to the larger territory. Focuses on the shared foundations of the allied design disciplines of architecture ...

            .course-content-info
              .course-content-info__progress

              .course-content-box
                h3 19%
                h4 Funded

              .course-content-box
                h3 $2.974
                h4 Pledged

              .course-content-box
                h3 24
                h4 Days to go
