header.leftnav-header
  h1(class='logo')
    | {K}lassroom

  svg(class='leftnav-header__icon' ng-click='leftnavCtrl.toggleLeftnav()' width='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
    title Hamburguer Menu
    defs
    g(id='app' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage')
      g(id='dashboard---my-courses' sketch:type='MSArtboardGroup' transform='translate(-200.000000, -23.000000)')
        g(id='sidebar' sketch:type='MSLayerGroup')
          g(id='sidebar-header' sketch:type='MSShapeGroup')
            g(id='menu-icon' transform='translate(200.000000, 23.000000)')
              g(id='icon-hamburguer' transform='translate(8.000000, 10.000000)' fill='#FFFFFF')
                path(d='M14.4886364,9.71590909 L0.511363636,9.71590909 C0.228920455,9.71590909 0,9.94482955 0,10.2272727 C0,10.5097159 0.228920455,10.7386364 0.511363636,10.7386364 L14.4886364,10.7386364 C14.7710795,10.7386364 15,10.5097159 15,10.2272727 C15,9.94482955 14.7710795,9.71590909 14.4886364,9.71590909 L14.4886364,9.71590909 Z M14.4886364,4.94318182 L0.511363636,4.94318182 C0.228920455,4.94318182 0,5.17210227 0,5.45454545 C0,5.73698864 0.228920455,5.96590909 0.511363636,5.96590909 L14.4886364,5.96590909 C14.7710795,5.96590909 15,5.73698864 15,5.45454545 C15,5.17210227 14.7710795,4.94318182 14.4886364,4.94318182 L14.4886364,4.94318182 Z M0.511363636,1.02272727 L14.4886364,1.02272727 C14.7710795,1.02272727 15,0.793806818 15,0.511363636 C15,0.228920455 14.7710795,0 14.4886364,0 L0.511363636,0 C0.228920455,0 0,0.228920455 0,0.511363636 C0,0.793806818 0.228920455,1.02272727 0.511363636,1.02272727 L0.511363636,1.02272727 Z' id='Shape')

              rect(id='Rectangle-7' stroke='#FFFFFF' x='0' y='0' width='30' height='30' rx='3')

ul.leftnav-menu
  li
    a(href='#/dashboard')
      | Dashboard

  li
    a(href='#/courses')
      | Courses

  li
    a(href='#/ask-course')
      | Ask for Courses