@import 'utilities/variables';
@import 'utilities/mixins';

@import 'vendor/bootstrap/bootstrap';


@import 'pages/register/page-register';

* {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

body {
  background-color: $body-bg;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.leftnav-header__icon {
  float: right;
  margin-top: 23px;
  cursor: pointer;
  opacity: .75;
  transition: .15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.logo {
  font-weight: 100;
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  color: $white;
  font-size: 24px;
  display: inline-block;

  span {
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    vertical-align: top;
  }
}

.leftnav {
  display: block;
  width: 250px;
  position: absolute;
  min-height: 100vh;
  height: 100%;
  float: left;
  background-color: $color-primary;
  transform: translateX(0);
  transition: .25s ease-in-out;

  &.is-hidden {
    transform: translateX(-250px);
  }
}

.leftnav-header {
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: darken($color-primary, 5%);

  .logo {
    line-height: 75px;
  }
}

.leftnav-menu {
  li {
    height: 65px;
    line-height: 65px;
    padding-left: 20px;
    padding-right: 20px;

    a {
      color: rgba($white, .75);
      font-weight: 300;
      display: block;
      font-size: 16px;
      transition: .25s ease-in-out;

      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

svg {
  vertical-align: middle;
}

.main {
  padding: 30px 25px;
}

.content {
  float: left;
  width: calc(100% - 250px);
  height: 100vh;
  display: block;
  transform: translateX(250px);
  transition: .25s ease-in-out;

  &.full-width {
    width: 100%;
    transform: translateX(0);
  }
}

.navigation {
  background-color: $white;
  width: 100%;
  height: 75px;
  box-shadow: 0 1px 2px rgba($black, .1);
  display: block;
  padding-left: 25px;
  padding-right: 25px;
}

.dropdown {
  float: right;
  margin-top: 20px;
}

.dropdown__name {
  margin-left: 15px;
  margin-right: 15px;
}

.mycourse {
  width: 100%;
  background-color: $white;
  box-shadow: 0 1px 2px rgba($black, .1);
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}

.mycourse-header {
  text-align: center;
  border-bottom: 1px solid #EAEBED;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mycourse-content {
  padding: 10px 15px;
}

.mycourse-content__subject {
  color: $white;
  background-color: $color-secondary;
  border-radius: 2px;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 10px;
}

.mycourse-content__title {
  font-size: 18px;
  color: $color-primary;
}

.navigation-content {
  float: left;
  margin-top: 25px;

  .logo {
    color: $color-primary;
    display: inline-block;
    margin-right: 15px;
  }

  svg {
    opacity: 1;
    display: inline-block;
    float: none;
    margin-top: 0;
    vertical-align: top;

    path {
      stroke: $color-primary;
    }

    rect {
      stroke: $color-primary;
    }
  }
}









.course {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba($black, .1);
  overflow: hidden;
  margin-bottom: 30px;

  &:hover {
    .course-content-info__progress {
      &:after {
        display: block;
      }
    }
  }

  &.is-featured {
    .course-content {
      float: left;
      width: 65%;
    }

    .course-image {
      width: 35%;
      min-height: 275px;
      float: left;

      &:after {
        content: 'Featured';
        color: #57D079;
        border: 1px solid #57D079;
        z-index: 1000;
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12px;
        display: inline-block;
        background-color: rgba($black, .1);
        text-align: center;
        padding: 1px 5px;
        text-transform: uppercase;
        border-radius: 2px;
      }
    }
  }
}

.course-content {
  padding: 25px;
}

.course-content__title {
  font-size: 22px;
  color: $color-primary;
  margin-bottom: 0;
}

.course-content__subtitle {
  color: $color-secondary;
  font-size: 12px;
  font-weight: 600;
}

.course-content__description {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.course-image {
  background: url('../images/course.jpg') center center no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  height: 175px;

  &:before {
    content: '';
    background-color: rgba($color-primary, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.course-content-info__progress {
  width: 85%;
  height: 5px;
  background-color: $body-bg;
  border-radius: 5px;
  position: relative;

  &:before {
    content: '';
    width: 75%;
    height: 5px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #57D079;
    border-radius: 5px;
  }

  &:after {
    content: '75%';
    width: 30px;
    font-size: 10px;
    font-weight: 600;
    background-color: $color-primary;
    color: $white;
    line-height: 20px;
    border-radius: 2px;
    text-align: center;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -25px;
    display: none;
  }
}

.course-content-box {
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;

  h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }

  h4 {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

@import 'pages/login/page-login';