@import 'utilities/variables';
@import 'utilities/mixins';

@import 'vendor/bootstrap/bootstrap';


@import 'pages/register/page-register';

* {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

body {
  background-color: $body-bg;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.leftnav-header__icon {
  float: right;
  margin-top: 23px;
  cursor: pointer;
  opacity: .75;
  transition: .15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.logo {
  font-weight: 100;
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  color: $white;
  font-size: 24px;
  display: inline-block;

  span {
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    vertical-align: top;
  }
}

.leftnav {
  display: block;
  width: 250px;
  position: absolute;
  min-height: 100vh;
  height: 100%;
  float: left;
  background-color: $color-primary;
  transform: translateX(0);
  transition: .15s ease-in-out;

  &.is-hidden {
    transform: translateX(-250px);
  }
}

.leftnav-header {
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: darken($color-primary, 5%);

  .logo {
    line-height: 75px;
  }
}

.leftnav-menu {
  li {
    height: 65px;
    line-height: 65px;
    padding-left: 20px;
    padding-right: 20px;

    a {
      color: rgba($white, .75);
      font-weight: 300;
      display: block;
      font-size: 16px;
      transition: .25s ease-in-out;

      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

svg {
  vertical-align: middle;
}

.main {
  padding: 30px 25px;
}

.content {
  float: left;
  width: calc(100% - 250px);
  height: 100vh;
  display: block;
  transform: translateX(250px);
  transition: .25s ease-in-out;

  &.full-width {
    width: 100%;
    transform: translateX(0);
  }
}

.navigation {
  background-color: $white;
  width: 100%;
  height: 75px;
  box-shadow: 0 1px 2px rgba($black, .1);
  display: block;
  padding-left: 25px;
  padding-right: 25px;
}

.dropdown {
  float: right;
  margin-top: 20px;
}

.dropdown__name {
  margin-left: 15px;
  margin-right: 15px;
}

.mycourse {
  width: 100%;
  background-color: $white;
  box-shadow: 0 1px 2px rgba($black, .1);
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}

.mycourse-header {
  text-align: center;
  border-bottom: 1px solid #EAEBED;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mycourse-content {
  padding: 10px 15px;
}

.mycourse-content__subject {
  color: $white;
  background-color: $color-secondary;
  border-radius: 2px;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 10px;
}

.mycourse-content__title {
  font-size: 18px;
  color: $color-primary;
}

@import 'pages/login/page-login';