main(class='login' role='main')
  form(class='login-form' name='form' ng-submit='loginCtrl.login(form)')
    h1(class='login-form__title logo')
      | {K}lassroom
      span Beta

    fieldset(class='form-group')
      input(class='form-control' type='email' placeholder='Email' ng-model='user.username' name='username')

    fieldset(class='form-group')
      input(class='form-control' type='password' placeholder='Password' ng-model='user.password' name='password')

    button(class='btn btn-secondary btn-block' type='submit')
      | Sign in

    p.login-form__text
      | If you don’t have an account, 
      a(href='#/sign-up')
        | register here
      | .