doctype html
html(lang='en' ng-app='klassroom')
  head
    meta(charset='UTF-8')
    title Klassroom

    base(href='/')

    link(rel='stylesheet' href='stylesheets/main.css')

  body
    ng-view

    script(src='./bower_components/angular/angular.js')
    script(src='./bower_components/angular-route/angular-route.js')
    script(src='./scripts/main.js')
