svg(width="80px" viewBox="0 0 90 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
  defs
  g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
    g(id="computer-science" sketch:type="MSLayerGroup" fill="#EAEBED")
      g(id="Group" sketch:type="MSShapeGroup")
        path(d="M70.195,45.96 C69.576,45.96 68.954,45.75 68.445,45.32 C67.299,44.353 67.154,42.639 68.121,41.493 L83.73,23 L68.122,4.507 C67.155,3.361 67.3,1.648 68.446,0.68 C69.592,-0.288 71.305,-0.143 72.273,1.003 L89.36,21.248 C90.214,22.26 90.214,23.74 89.36,24.751 L72.272,44.995 C71.735,45.632 70.968,45.96 70.195,45.96 L70.195,45.96 Z" id="Shape")
        path(d="M19.805,45.96 C19.033,45.96 18.266,45.632 17.729,44.996 L0.641,24.752 C-0.213,23.74 -0.213,22.26 0.641,21.249 L17.729,1.004 C18.696,-0.142 20.41,-0.287 21.556,0.68 C22.702,1.647 22.847,3.361 21.88,4.507 L6.269,23.001 L21.878,41.493 C22.845,42.639 22.701,44.352 21.555,45.32 C21.045,45.749 20.423,45.96 19.805,45.96 L19.805,45.96 Z" id="Shape")
        path(d="M32.325,45.96 C31.833,45.96 31.335,45.826 30.887,45.546 C29.616,44.75 29.23,43.075 30.026,41.804 L55.37,1.315 C56.166,0.044 57.842,-0.341 59.113,0.454 C60.384,1.25 60.77,2.925 59.974,4.196 L34.63,44.685 C34.115,45.508 33.23,45.96 32.325,45.96 L32.325,45.96 Z" id="Shape")
